body {
    background-color: #222034;
    color: white;
}
.everything1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}
.heading {
    line-height: 50px;
    text-align: center;
}
.container {    
    display: flex;
    position: relative;
    width: 500px;
    flex-direction: column;
    height: 85vh;
    border: 1px solid red;
    font-size: 21px;
}
.in_container {
    margin: 0px 10px;
    float:left;
}
header {
    justify-content: center;
    align-items: center;
    clear: both;
}
section {
    justify-content: center;
    align-items: center;
}
footer {    
    justify-content: center;
    align-items: center;
}
div .dropup {
    position: inherit;
}

.options_button {
    position: relative;
    white-space: nowrap;
    text-align: left;
}
.options_button a {
    padding: 1px 4px
}

.theme_toggle {
    display: flex;
    flex-direction: row;
}
#settings_list {
/* display: none; */
    
    position: absolute;
    border: 1px solid red;
    font-size: 18px;
    background-color: aliceblue;
}
#settings_list a {
    display: block;
}
.settings_toggle {
    display: none;
}
.options_button:hover .settings_list {
    display: block;
}
.options_button a:hover  {
    background-color: aquamarine;
}
button {
    font-size: 24px;
}
#new_task_input {
    font-size: 24px;
}
#new_task_input::placeholder {
    font-size: 24px;
}
.in_container_tasks {
    float: left;
    display: block;
    width: 50%;
    flex-direction: column;
}
ul li {
    cursor: pointer;
    list-style-type: none;
    line-height: 30px;
    background-color: aliceblue;
    color: black;
    margin: 4px 0px;
    padding: 1px 4px;
}
ul li:hover {
    cursor: pointer;
    list-style-type: none;
    background-color:aquamarine;
    color: black;

}
ul li:active {
    background-color: royalblue;
    color:burlywood;
}
span .close {
    text-align:end;
}
.checked {
    background-color: darkcyan;
    color: aquamarine;
}
.checked:hover {
    color: crimson;
}